# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ConsoleApplication2/.vs/ConsoleApplication2/v16/Browse.VC.db
/ConsoleApplication2/.vs/ConsoleApplication2/v16/Browse.VC.db-shm
/ConsoleApplication2/.vs/ConsoleApplication2/v16/Browse.VC.db-wal
/ConsoleApplication2/.vs/ConsoleApplication2/v16/Browse.VC.opendb
/ConsoleApplication2/Debug/ConsoleA.0efc3889.tlog/CL.command.1.tlog
/ConsoleApplication2/Debug/ConsoleA.0efc3889.tlog/CL.read.1.tlog
/ConsoleApplication2/Debug/ConsoleA.0efc3889.tlog/CL.write.1.tlog
/ConsoleApplication2/Debug/ConsoleA.0efc3889.tlog/ConsoleApplication2.lastbuildstate
/.vs/ConsoleApplication1/v16/Browse.VC.db
/ConsoleApplication2/Debug/ConsoleA.0efc3889.tlog/link.command.1.tlog
/ConsoleApplication2/Debug/ConsoleA.0efc3889.tlog/link.read.1.tlog
/ConsoleApplication2/Debug/ConsoleA.0efc3889.tlog/link.write.1.tlog
/ConsoleApplication2/Debug/ConsoleApplication2.exe.recipe
/ConsoleApplication2/Debug/ConsoleApplication2.ilk
/ConsoleApplication2/Debug/ConsoleApplication2.log
/ConsoleApplication2/Debug/ConsoleApplication2.pdb
/ConsoleApplication2/Debug/ConsoleApplication2.vcxproj.FileListAbsolute.txt
/ConsoleApplication2/Debug/vc142.idb
/ConsoleApplication2/Debug/vc142.pdb
/ConsoleApplication2/.vs/ConsoleApplication2/v16/ipch/AutoPCH/566e9b0f10fe7054/CONSOLEAPPLICATION2.ipch
/ConsoleApplication2/.vs/ConsoleApplication2/v16/.suo
/.vs/ConsoleApplication1/v16/.suo
